.cartao-pokemon{
    display: none;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.cartao-pokemon .cartao-topo {
    padding: 30px 40px 0;
}

.cartao-pokemon .nome {
    margin-bottom: 5px;
}

.cartao-pokemon .tipo {
    font-size:  12px;
    background-color:  rgb(250, 249, 249);
    opacity: 0.6;
    border-radius: 10px;
    padding: 2px 10px;
}

.cartao-pokemon .detalhes {
    color: rgb(250, 248, 248);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cartao-pokemon .cartao-imagem {
    width: 350px;
    height: 350px;
}

.cartao-pokemon img{
    max-height: 100%;
}

.cartao-pokemon .cartao-informacoes {
    display: flex;
    justify-content: space-between;
    background-color: rgb(250, 249, 249);
    padding: 80px 30px 50px;
    margin-top:  -70px;
    border-bottom-left-radius: 8px ;
    border-bottom-right-radius: 8px;
}

.cartao-pokemon .cartao-informacoes h3{
    font-size: 20px;
    margin-bottom: 15px;
    border-bottom: 1px solid #6b727a;
}
.cartao-pokemon .cartao-informacoes .status, .cartao-pokemon .cartao-informacoes .habilidades{
    padding: 0 10px;
    width: 180px;
}

.cartao-pokemon .cartao-informacoes .habilidades ul li,.cartao-pokemon .cartao-informacoes .status ul li {
    border-bottom: 1px solid #c3c4c5;
    padding: 0 0 5px;
    margin-bottom: 5px;
    font-size: 15px;
}
.cartao-pokemon.aberto {
    display: block;
}

.tipo-fogo{
    background-color: #ed8a8b;
}
.tipo-eletrico{
    background-color: #fcc719;
}
.tipo-agua{
    background-color: #76befe;
}
.tipo-grama{
    background-color: #1fc7a0;
}
.tipo-trevas{
    background-color: #ba68c8 ;
}
.tipo-dragao {
    background-color: #c29791;
}
